{% extends "base.html" %}
{% load filters django_bootstrap5 %}

{% block title %}Force RFC Metadata Update Accepted{% endblock %}

{% block content %}
<h1>Force RFC Metadata Update Accepted</h1>
<p>The requested synchronization has started asynchronously.
Updating only a few RFCs will finish quickly. Updating the entire series may take several minutes.
You can navigate away from this page while the update is running.</p>
<a class="btn btn-primary" href="{% url 'errata_user_info' %}">Return to User Info</a>
{% endblock %}

