{% extends "base.html" %}
{% load django_bootstrap5 filters %}

{% block title %}Staged Errata{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Staged Errata</h2>
    {% for erratum in staged_errata %}
    <div class="card mb-4 border-primary">
        <div class="card-header bg-primary text-light">
            <h4 class="mt-4">New Erratum for <a href="https://www.rfc-editor.org/info/rfc{{ erratum.rfc_number }}" rel="noopener" target="_blank" class="link-light">RFC{{ erratum.rfc_number }}</a>{% if erratum.rfc_has_verified %} <a href="https://www.rfc-editor.org/rfc/inline-errata/rfc{{ erratum.rfc_number }}.html" rel="noopener" target="_blank" class="small link-light">inline-errata</a>{% endif %} (UUID: {{erratum.id}})</h4>
        </div>
        {% if erratum.rfc_metadata.obsoleted_by %}
            <p class="mb-0 bg-danger text-light">⚠ This RFC has been obsoleted!</p>
            <p class="mb-0 bg-danger text-light"><strong>Obsoleted by:</strong> {{ erratum.rfc_metadata.obsoleted_by }}</p>
        {% endif %}
        {% if erratum.rfc_metadata.updated_by %}
            <p class="mb-0 bg-warning text-light"><strong>Updated by:</strong> {{ erratum.rfc_metadata.updated_by }}</p>
        {% endif %}
        {% if erratum.rfc_metadata.area_assignment %}
            <p class="mb-0 bg-warning text-light">Area assignment: {{ erratum.rfc_metadata.area_assignment }}</p>
        {% endif %}
        {% include "errata/staged_erratum_card_body.html" %}
        <hr>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="uuid" value="{{ erratum.id }}">
                <button type="submit" class="btn btn-primary" name="action" value="edit">Edit</button>
                <button type="submit" class="btn btn-primary" name="action" value="post_editorial">Add to Unverified as Editorial</button>
                <button type="submit" class="btn btn-primary" name="action" value="post_technical">Add to Unverifed as Technical</button>
                <button type="submit" class="btn btn-warning" name="action" value="delete">Delete (Spam)</button>
            </form>
        </div>
    </div>
    {% empty %}
       <p>There are currently no submitted Staged Erratum</p>
    {% endfor %}
</div>
{% endblock %}
