{% load django_bootstrap5 filters %}
<div class="card-body">
    <dl class="row">
        <dt class="col-sm-4">Reported By:</dt>
        <dd class="col-sm-8">
            <span>{{ erratum.submitter_name|default:"Not provided" }}</span>
        </dd>

        <dt class="col-sm-4">Date Reported:</dt>
        <dd class="col-sm-8">
            <span>{{ erratum.submitted_at|date:"Y-m-d"|default:"Not provided" }}</span>
        </dd>

        {% if erratum.rfc_number >= 8650 %}
            <dt class="col-sm-4">Formats Affected:</dt>
            <dd class="col-sm-8">
                {% if erratum.formats %}
                    {% for format in erratum.formats %}
                        <span class="badge bg-info text-dark">{{ format }}</span>
                    {% endfor %}
                {% else %}
                    <span class="text-muted">Not specified</span>
                {% endif %}
        {% endif %}
    </dl>
    <p> {# See https://github.com/rfc-editor/rpcwebsite/blob/182c06862b4f83014dae9b67ee6911f73bafc802/rfcscripts/errata_lib.php#L1810-L1892 #}
        {% if erratum.section|upper == "GLOBAL" %}
            Throughout the document, when it says:
        {% elif erratum.section|suppress_strings_starting_with_99 != "-" %}
            Section {{ erratum.section }} says:
        {% elif erratum.section|length > 2 %}
            {{ erratum.section|slice:"2:"}}
        {% else %}
            &nbsp;
        {% endif %}
    </p>
    {% if erratum.orig_text %}
        <pre class="bg-light p-3 rounded"><code>{{ erratum.orig_text }}</code></pre>
    {% else %}
        <p class="text-muted">No original text provided.</p>
    {% endif %}
    {% if erratum.corrected_text %}
        <p>It should say:</p>
        <pre class="bg-light p-3 rounded"><code>{{ erratum.corrected_text }}</code></pre>
    {% endif %}
    {% if erratum.notes %}
        <p>Notes:</p>
        <pre class="bg-light p-3 rounded errata-notes"><code>{{ erratum.notes }}</code></pre>
    {% endif %}
</div>